*{
    font-family: "Assistant", sans-serif;
}
header{
    background-color: #735D78;
}
header span{
    color: #F7D1CD;
}
.nav-item a{
    color: #F7D1CD;
}
/*Link visitado*/
.nav-item a:visited{
    color: #F7D1CD;
}
.nav-item a:hover{
    color: #D1B3C4;
}
#nav-button{
    background-color: #D1B3C4;
}
.icon-habilidades{
    color: #D1B3C4;
    font-size: 2em;
}
.img-proyecto1{
    background-image: url('assets/img-proyecto1.png');
    opacity: 0.6;
    background-size: contain;
    background-repeat: no-repeat;
}
footer{
    background-color: #735D78;
}
footer .icon-footer i{
    color: #D1B3C4;
}
footer p{
    color: #D1B3C4;
}
footer p a{
    color: #D1B3C4;
}